html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
  "slnt" 0;
}

.inter-bold {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-variation-settings:
  "slnt" 0;
}

.header-content{
background: #EDF2EC;
display: flex;
height: 134px;
align-items: center;
}

.header {
position: fixed;
right: 0;
left: 0;  
top: 0; 
z-index: 10;
}

.logo {
display: flex;
padding-left: 111px;
align-items: flex-end;
}

.logo-text {
font-family: 'Inika';
font-size: 16px;
font-weight: 400;
line-height: 16px;
}

.logo-leaf1 {
width: 9.92px;
height: 17.28px;
}

.logo-leaf2 {
width: 19px;
height: 20px;
margin-left: -8.85px;
}

.main-menu {
padding-right: 109px;
margin-top: -23px;
height: 50px;
width: 452px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
position: absolute;
right: 0%;
}

.link-menu {
text-decoration: none;
font-family: 'Inika';
font-size: 16px;
font-weight: 400;
color: black;
}

.word-home {
color: #E06733;
}

.welcome {
background: #EDF2EC;
display: flex;
justify-content: space-around;
padding-top: 96px;
width: 100%;
}

.leafs {
width: 448.8px;
height: 407.36px;
margin-left: 109px;
margin-top: 62px;
display: grid;
grid-template-columns: 1fr 3fr 2fr;
grid-row-gap: 0px;
margin-bottom: 96px;
}

.leaf1 {
align-self: center;
}

.leaf2 {
grid-column-start: 1;
grid-column-end: 3;
}

.welcome-section {
margin-top: 98px;
width: 750px;
}

.welcome-title {
font-size: 45px;
font-weight: 700;
font-family: 'Inter';
line-height: 50px;
color: #717171;
}

.word-plants {
color: #499a18;
}

.welcome-text {
margin-top: 37px;
margin-right: 109px;
font-size: 20px;
font-weight: 400;
font-family: 'Inter';
line-height: 35px;
color: #636060;
}

.button-learn-more {
font-size: 16px;
font-weight: 400;
font-family: 'Inter';
line-height: 40px;
text-decoration: none;
color: black;
border: 2px solid #E06733;
border-radius: 10px;
height: 44px;
width: 158px;
display: block;
text-align: center;
margin-top: 40px;
}

.about {
display: flex;
justify-content: space-between;
align-items: center;
padding: 140px 109px 140px 109px;
scroll-margin-top: 134px;
}

.houseplant {
margin-left: 153px;
}

.about-title {
font-size: 40px;
font-weight: 400;
font-family: 'Inika';
line-height: 52.12px;
color: #499a18;
}

.word-prof-exp {
color: #E06733;
}

.about-text {
font-size: 20px;
font-weight: 400;
font-family: 'Inter';
line-height: 30px;
color: #636060;
margin-top: 30px;
}

.service {
background-color: #EDF2EC;
scroll-margin-top: 134px;
}

.service-content {
display: flex;
height: 94px;
padding-top: 60px;
margin-left: 109px;
justify-content: space-between;
align-items: center;
margin-right: 109px;
}

.service-title {
font-size: 40px;
font-weight: 400;
font-family: 'Inika';
line-height: 40px;
color: #499a18;
width: 306px;
}

.service-buttons {
width: 559px;
justify-content: space-between;
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.choice-button {
width: 161px;
height: 50px;
background-color: #EDF2EC;
color: #E06733;
border-color: #E06733;
border-radius: 5px;
border-style: solid;
font-family: 'Inika';
font-size: 20px;
transition: all 0.3s ease;
}

.choice-button.active {
background-color: #E06733;
color: white;
}

.blur-card {
filter: blur(3px);
}

.services {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-row-gap: 40px;
padding-left: 109px;
padding-right: 109px;
margin-top: 100px;
}

.card-header {
font-size: 20px;
font-weight: 700;
font-family: 'Inter';
line-height: 40px;
color: #E06733;
text-align: center;
}

.card-text {
font-size: 16px;
font-weight: 400;
font-family: 'Inter';
line-height: 20px;
color: #717171;
text-align: center;
margin-bottom: 30px;
}

.card {
justify-self: center;
border: 1px solid #e3e1d5;
border-radius: 30px;
transition: all 0.3s ease;
}

.prices {
display: flex;
padding: 60px 109px 109px;
justify-content: space-between;
scroll-margin-top: 134px;
}

.prices-header {
font-size: 40px;
font-weight: 700;
font-family: 'Inter';
line-height: 48.41px;
margin-bottom: 30px;
}

.rates {
width: 332px;
height: 282px;
border: 1px solid #e3e1d5;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
transition: all 0.3s ease;
}

.open-rates {
  height: 390px;
}

.rate-button-title {
font-size: 20px;
font-weight: 700;
font-family: 'Inter';
line-height: 20px;
}

.rate-button {
  width: 250px;
  height: 50px;
  background-color: #EDF2EC;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.rate-header {
display: flex;
justify-content: space-around;
height: 50px;
align-items: center;
}

.rate-footer-text {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Inter';
  line-height: 10px;
}

.rate-price {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter';
  line-height: 20px;
  color: #E06733;
}

.rate-price-hour {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter';
  line-height: 40px;
}

.order-button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Inter';
  line-height: 23px;
  color: #717171;
  border: none;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  height: 25px;
  width: 86px;
  display: block;
  text-align: center;
}

.rate-footer {
  display: none;
}

.rate-footer-line {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Inter';
  line-height: 0px;
  margin-bottom: 24px;
}

.arrow {
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
}

.arrow.active {
  transform: rotate(180deg);
  filter: brightness(80%)
}

.open-rate-footer {
  display: block;
  margin: 0px 10px 20px 20px;
}

.open-rate-button {
  height: 178px;
  background-color: #d6e7d2;
}

.prices-text {
font-size: 40px;
font-weight: 700;
font-family: 'Inter';
line-height: 50px;
text-align: right;
}

.word-gardeners {
color: #499a18;
}

.prices-info {
display: flex;
flex-direction: column;
align-items: flex-end;
}

.contact-button {
font-size: 20px;
font-weight: 700;
font-family: 'Inika';
line-height: 48px;
text-decoration: none;
color: #E06733;
border: 1px solid #E06733;
border-radius: 5px;
height: 50px;
width: 162px;
display: block;
text-align: center;
margin-top: 40px;
}

.leafs2 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.leaf22 {
grid-column-start: 1;
grid-column-end: 3;
}

.leaf23 {
grid-column-start: 2;
grid-column-end: 4;
}

.leaf21 {
align-self: end;
}

.contacts {
background-color: #EDF2EC;
display: flex;
padding: 60px 109px 0px 109px;
justify-content: space-between;
}

.contacts-title {
font-size: 40px;
font-weight: 700;
font-family: 'Inika';
line-height: 52px;
color: #499a18
}

.select-city {
display: flex;
width: 450px;
height: 50px;
align-items: center;
background-color: #d6e7d2;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
margin-top: 140px;
transition: all 0.3s ease;
}

.select-city.active {
  background-color: #C1E698;
}

.select-title {
font-size: 20px;
font-weight: 400;
font-family: 'Inter';
color: #717171
}

.city-card {
  background-color: #EDF2EC;
  border: 1px solid black;
  border-radius: 15px;
  height: 214px;
  margin-top: 47px;
  padding: 17px 35px 32px;
  grid-template-columns: 130px auto;
  display: none;
  z-index: 0;
  position: absolute;
  width: 450px;
  margin-top: 220px;  
}

.city-card.active {
  display: grid;
}

.city-metadata {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 40px;
}

.button-call-us {
  border: 1px solid #E06733;
  background-color: #EDF2EC;
  color: #717171;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inika';
  line-height: 24px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  height: 26px;
  justify-self: center;
  grid-column: span 2;
}

.city-data {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 40px;
  color: #717171;
}

.select-arrow {
  transition: all 0.3s ease;
  filter: brightness(80%)
}

.select-arrow.active {
  transform: rotate(180deg);
}

.city-window {
  background-color: #DCE9D9;
  padding: 15px 20px 31px 20px;
  display: none;
  transition: all 0.3s ease;
  z-index: 1;
}

.city-window.active {
  display: block;
}

.city-window p {
  color: #499a18;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 30px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 15px;
  transition: all 0.3s ease;
}

.city-window p:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.city-contacts {
  display: flex;
  flex-direction: column;
}

.footer {
display: flex;
align-items: center;
justify-content: space-around;
height: 130px;
}

.name {
font-size: 20px;
font-weight: 400;
font-family: 'Inter';
}

.footer-data {
display: flex;
width: 182px;
height: 50px;
justify-content: space-between;
align-items: center;
}

.social-list {
display: flex;
width: 188px;
height: 50px;
justify-content: space-between;
align-items: center;
}

@media (max-width: 1120px) {
  .contact-woman {
    width: 250px;
    margin-top: 150px;
  }

  .select-city {
    width: 290px;
  }

  .contacts {
    padding-left: 70px;
  }

  .city-card {
    width: 290px;
    padding: 17px;
  }

  .city-data, .city-metadata {
    font-size: 14px;
  }

  .houseplant {
    margin-left: 70px;
    width: 344px;
  }
}

@media (max-width: 768px) {
.main-menu {
  width: 320px;
}

.link-menu {
  font-size: 13px;
}

.welcome{
  flex-direction: row-reverse;
}

.logo {
  padding-left: 50px;
}

.main-menu {
  padding-right: 50px;
}

.leafs {
  width: 280px;
  height: 254px;
  margin-left: 0px;
}

.welcome-section {
  margin-left: 50px;
}

.welcome-title {
  font-size: 35px;
}

.welcome-text {
  font-size: 16px;
  margin-right: 0px;
}

.button-learn-more {
  margin-bottom: 70px;
}

.about {
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.about-title {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
  line-height: 45px;
  align-self: center;
}

.about-text {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-section {
  display: flex;
  flex-direction: column;
}

.houseplant {
  height: 258px;
  width: 250px;
  margin-left: 0;
  margin-top: 40px;
}

.service-content {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  gap: 40px;
}

.service-title {
  font-size: 35px;
}

.choice-button {
  width: 131px;
}

.service-buttons {
  width: 100%;
  flex-wrap: wrap;
}

.services {
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 260px;
  grid-column-gap: 80px;
}  

.prices-header {
  font-size: 35px;
}

.contact-button {
  width: 100px;
  height: 35px;
  font-size: 15px;
  line-height: 33px;
}

.prices-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 69px;
}

.prices {
  padding: 50px;
}

.rates {
  width: 204px;
}

.rate-button {
  width: 180px;
}

.rate-footer-line {
  font-size: 8px;
}

.rate-button-title{
  font-size: 15px;
}

.prices-text {
  font-size: 20px;
  line-height: 35px;
}

.leafs2 {
  width: 126px;
  height: 155px;
  padding-top: 30px;
}

.contacts {
  flex-direction: column;
  align-items: center;
}

.contacts-title {
  order: 1;
}

.contact-woman {
  order: 3;
  width: 200px;
  height: 248.5px;
  margin-top: 300px;
}

.contact-woman.active {
  margin-top: 70px;
}

.select-city {
  margin-top: 100px;
  width: 360px;
}

.city-card {
  width: 360px;
}

.city-contacts {
  order: 2;
}

.select-title {
  font-size: 20px;
}

.footer {
  flex-direction: column;
  height: 181px;
}
}

@media (max-width: 464px) {
  .header-content {
    justify-content: space-between;
  }

  .burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-right: 25px;
  }
  
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #636060;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #636060;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {top: 0;}
  .burger::after {bottom: 0;}
  
  .burger.active span {
    transform: scale(0);
  }
  
  .burger.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  
  .burger.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  
  .main-menu {
    /* display: none; */
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    height: 100%;
    width: 60%;
    bottom: 0;
    z-index: 1;
    padding: 90px 55px;
    background-color: #d6e7d2;
    row-gap: 30px;
    transform: translateX(100%); 
    transition: transform 0.3s ease;
  }
  
  .background {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(100px);
    background-color: #ffffff;
    top: 0;
  }
  
  .open {
    display: flex !important;
    transform: translateX(0);
  }
  
  .open-burger {
    position: fixed;
    right: 10px;
  }
  
  .unscroll {
    overflow: hidden;
  }
}

@media (max-width: 380px) {
.header-content {
  justify-content: space-between;
}

.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  margin-right: 25px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #636060;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #636060;
  transition: all 0.3s ease 0s;
}

.burger::before {top: 0;}
.burger::after {bottom: 0;}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

.burger.active::after {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

.main-menu {
  /* display: none; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;
  height: 100%;
  width: 60%;
  bottom: 0;
  z-index: 1;
  padding: 90px 55px;
  background-color: #d6e7d2;
  row-gap: 30px;
  transform: translateX(100%); 
  transition: transform 0.3s ease;
}

.background {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  filter: blur(100px);
  background-color: #ffffff;
  top: 0;
}

.open {
  display: flex !important;
  transform: translateX(0);
}

.open-burger {
  position: fixed;
  right: 10px;
}

.unscroll {
  overflow: hidden;
}

.leafs {
  display: none;
}

.logo {
  padding-left: 25px;
}

.header-content {
  height: 96px;
}

.welcome-section {
  margin: 25px;
}

.welcome-title {
  font-size: 25px;
  line-height: 35px;
}

.welcome-text {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 20px;
}

.button-learn-more {
  font-size: 10px;
  width: 100px;
  height: 34px;
  line-height: 30px;
  margin: 0;
}

.about-title {
  font-size: 25px;
  line-height: 32.5px;
  margin: 30px 46px 21.5px 46px;
}

.about-text {
  font-size: 15px;
  line-height: 25px;
  padding: 0px 25px;
  margin: 0;
}

.about {
  padding: 0 25px 0 25px;
}

.houseplant {
  width: 150px;
  height: 147px;
  margin-bottom: 31px;
}

.service-content {
  margin-left: 25px;
  margin-right: 25px;
}

.service-title {
  font-size: 25px;
}

.choice-button {
  height: 35px;
  width: 120px;
  font-size: 15px;
}

.service-buttons {
  width: 250px;
  flex-wrap: wrap;
  gap: 10px;
}

.services {
  grid-template-columns: 1fr;
  padding: 174px 25px 50px 25px;
}

.prices {
  flex-direction: column;
  align-items: center;
}

.prices-header {
  text-align: center;
  font-size: 25px;
}

.prices-info {
  margin-top: 19px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.prices-text {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
}

.contact-button {
  margin-top: 20px;
  width: 120px;
  height: 35px;
  font-size: 15px;
  line-height: 33px;
}

.leafs2 {
  display: none;
}

.contacts-title {
  font-size: 25px;
  width: 120px;
}

.contacts {
  padding-left: 25px;
  padding-right: 25px;
}

.select-city {
  margin-top: 80px;
  width: 300px;
  height: 50px;
}

.contact-woman {
  margin-top: 332px;
  width: 100px;
  height: 124px;
}

.contact-woman.active {
  margin-top: 102px;
}

.city-card {
  width: 300px;
  padding: 15px;
}

.city-data {
  font-size: 14px;
}

.city-metadata {
  font-size: 14px;
}

.footer {
  height: 146px;
}
}